<article class="w-33 pa3 bb b--black-05 pb2 mt2 fl dt">
  <div class="dt-row v-mid b1">
    <img 
      src={{item.productImage}}
      alt={{item.productName}}
      title={{item.productName}}
      class="ba b--black-10 db br2 tc" >
  </div>
  <div class="dtc v-mid pl3 pt2">
    <h1 class="f6 fw5 lh-title mt0 mb0 black w-90 truncate">{{item.productName}}</h1>
    <h2 class="f6 f5-ns fw6 black-80 mv0">{{item.productPrice}}$</h2>
  </div>
</article>